.green {
    color: green !important
  }
  
.greenyellow {
    color: greenyellow !important
  }
  
.yellow {
    color: yellow !important
  }
  
.redorange {
    color: orangered !important
  }
  
.red {
    color: red !important
  }
